:root{
    --dark-blue: #0F2640;
    --orange: #EB8B43;
    --blue: #5278CC;
    --dark-gray: #7A7A7A;
    --cream: #F4EFDC;
    --gray: #D4D4DA;

    --semi-bold: 600;
}


*{
font-family: Inter;
font-size: 16px;
font-weight: 500;
color: var(--dark-blue);
}
a{
    text-decoration: none !important;
}

p{
    margin: 0px !important;
    padding: 0px !important;
}
h3, h4{
    margin-bottom: 0px !important;
}

/* font */
.font-13{
    font-size: 13px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-31{
    font-size: 31px;
}
.font-39{
    font-size: 39px;
}
.font-49{
    font-size: 49px;
}
.font-61{
    font-size: 61px;
}
.font-64{
    font-size: 64px;
}

.black{
    font-weight: 900;
}
.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 600;
}

.font-white{
    color: white;
}
.font-orange{
    color:var(--orange);
}
.font-dark-gray{
    color: var(--dark-gray);
}
.font-cream{
    color: var(--cream);
}
.font-dark-blue{
    color: var(--dark-blue);
}
.font-blue{
    color: var(--blue);
}
.font-gray{
    color: var(--gray);
}

/* layout */
.p-20px{
    padding: 20px;
}

.m-5pc{
    margin: 0px 5%;
}
.m-140px{
    margin: 0px 240px;
}
.m-240px{
    margin: 0px 340px;
}
.mt-80px{
    margin-top: 80px;
}


.z-n2{
    z-index: -2;
}

.top-30{
    top: 30%;
}
.top-65{
    top: 65%;
}

.gap-20px{
    gap: 20px;
}

.w-90{
    width: 90%;
}


/* bg color */
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-white{
    background-color: white;
}
.bg-cream{
    background-color: var(--cream);
}
.bg-gray{
    background-color: var(--gray);
}


/* decoration */
.shadow{
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.25);
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--dark-blue);
}
.hover-to-none{
    background: var(--dark-blue, #0F2640);
}
.overlay{
    background-color: var(--dark-blue);
    opacity: 0.5;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.active, .hover-blue:hover{
    color: var(--blue);
}
.button:hover{
    color: white;
}

.input-email{
    background-color: var(--cream);
    border: none;
    border-bottom: 1px solid var(--dark-blue);
}


.img-white{
    filter: brightness(0) invert(1);
}


#logo{
    font-family: "Helvetica Now Display";
    color: var(--orange);
    font-size: 24px;
    font-weight: 950;
    margin-bottom: 0;
}

.navbar-dropdown{
    display: none;
}
.navbar-items{
    display: flex;
}



.jumbotron{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 29.5%), url(/image/index1.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}




select{
    width: 150px;
}

.footer-right{
    
    justify-content: end;
}

.navbar{
    left: 0;
    right: 0;
}

.newsletter h1{
    max-width: 890px;
}

.newsletter #input{
    width: 65%;
}





#image-overlay{
    width: 1682px;
    height: 808px;
    border-radius: 0px 0px 5px 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 29.5%)linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 29.5%);
}


#daftar{
    background-color: var(--dark-blue);
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 24px;
}


#head{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 1088px;
    font-size: 61px;
    font-weight: 950;
}

#head-pesawat{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 1088px;
    font-size: 61px;
    font-weight: 950;
    /* text-align: start; */
}

#head2{
    margin: 190px auto 0px 25%;
    color: var(--dark-blue);
    font-size: 64px;
    font-weight: 950;
}

#head-3{
    font-weight: 600;
    font-size: 39px;   
}

/* card plane */
.card-plane{
    display: flex;
    flex-direction: column;
    max-width: 1088px;
    background-color: var(--dark-blue);
    margin: auto;
    margin-bottom: -250px;
    top: -250px;
}

.card-plane-list{
    max-width: 257px;
    max-height: 60px;
    background-color: white;
    padding: 9px 20px;
    color: var(--orange);
}

.card-plane-desc{
    background-color: white;
    padding: 3% 5%;
}

.card-plane-2{
    max-width: 1088px;
    display: flex;
    background-color: white;
    padding: 2% 3%;
    margin: auto;
    top: -200px;
    margin-bottom: -200px;
    justify-content: space-between;
}

.card-plane-desc #button, .card-plane-2 #button, .card-kamar #button{
    height: 45px;
}

.card-kamar{
    max-width: 1088px;
    display: flex;
    background-color: white;
    padding: 2% 3%;
    margin: auto;
    top: -150px;
    margin-bottom: -150px;
    justify-content: space-between;
    height: 250px;
}
.penginapan-discount #price-loc{
    display: flex;
    justify-content: space-between;
    align-items: end;   
}




/* plane discount */
.card-list{
    display: flex;
}
.plane-discount-card{
    display: inline-flex;
    flex-direction: column;
}
.plane-discount-desc{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.tujuan-bulan{
    display: flex;
    justify-content: space-between;
}


/* footer */
.footer #paragraph{
    display: flex;
    align-items: center;
    max-width: 712px;
}


#sponsor img{
    width: 125px;
}














.border-btm-active{
    border-bottom: 1px solid var(--blue);
}

.border-blue{
    border: 1px solid var(--dark-blue);
}
.border-blue-s{
    border-left: 1px solid var(--dark-blue);
    
}

.footer-p-white p, .footer-p-white i{
    color: white;
}







@media only screen and (max-width: 1600px){
    /* header */
    #head, #head-pesawat{
        font-size: 49px;
        top: 45%;
    }
    #head-pesawat{
        width: 750px;
    }

    /* index.html */
    /* newsletter */
    .newsletter img{
        width: 550px;
    }
    .newsletter h1{
        font-size: 49px;
    }
    .newsletter #input{
        width: 80%;
    }

    /* card-plane */
    .card-plane .font-39, .card-plane-2 .font-39, .card-kamar .font-39{
        font-size: 31px;
    }
    .card-plane .font-31, .card-plane-2 .font-31, .card-kamar .font-31{
        font-size: 25px;
    }
    .card-plane .font-20, .card-plane-2 .font-20, .card-kamar .font-20{
        font-size: 16px;
    }
    .card-plane, .card-plane-2{
        width: 750px;
        top: -200px;
        margin-bottom: -200px;
    }

    .card-kamar{
        width: 750px;
    }

    /* diskon pesawat */
    .plane-discount p, .penginapan-discount p{
        font-size: 13px;
    }
    .plane-discount .font-13, .penginapan-discount .font-13{
        font-size: 10px;
    }
    .plane-discount .font-20, .penginapan-discount .font-20{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1400px){
    
    /* footer */
    .footer #paragraph{
        max-width: 350px;
    }
    
    .footer #paragraph p{
        font-size: 16px;
    }
    
    /* index.html */
    /* plane discount */
    .plane-discount .mt-3{
        margin-top: 10px;
    }
    .plane-discount #card-4, .penginapan-discount #card-5{
        display: none;
    }

}

@media only screen and (max-width: 1200px){
    /* index.html */
    /* header */
    #head{
        font-size: 39px;
        width: 78%;
    }
    #head-pesawat{
        width: 700px;
        font-size: 39px;
    }
    
    /* card plane */
    .card-plane, .card-plane-2, .card-kamar{
        width: 700px;
    }
    .card-plane-2{
        top: -150px;
        margin-bottom: -150px;
    }

    /* plane discount */
    .tujuan-bulan{
        display: flex;
        flex-direction: column;
    }

    .penginapan-discount #card-4{
        display: none;
    }

    
    
    /* newsletter */
    .newsletter{
        justify-content: center;
    }
    .newsletter h1{
        text-align: center;
    }
    .newsletter img{
        display: none;
    }
    .newsletter #cont{
        align-items: center;
    }


    #sponsor p{
        font-size: 20px;
    }
    #sponsor img{
        width: 75px;
    }
}

@media only screen and (max-width: 1000px){
    /* logo */
    #logo{
        font-size: 20px;
    }
    
    
    /* navbar */
    .navbar-dropdown{
        display: inline;
    }
    .navbar-items{
        display: none;
    }

    
    /* footer */
    .footer #paragraph{
        display: none;
    }
    
    /* index.html */
    /* header */
    #head{
        font-size: 31px;
    }
    #head-pesawat{
        width: 600px;
        font-size: 31px;
        top: 50%;
    }


    /* card-plane */
    .card-plane .font-39, .card-plane-2 .font-39, .card-kamar .font-39{
        font-size: 25px;
    }
    .card-plane .font-31, .card-plane-2 .font-31, .card-kamar .font-31{
        font-size: 20px;
    }
    .card-plane .font-20, .card-plane-2 .font-20, .card-kamar .font-20{
        font-size: 13px;
    }
    .card-plane{
        width: 600px;
        top: -180px;
        margin-bottom: -180px;
    }
    .card-plane-2{
        width: 600px;
    }
    .card-kamar{
        width: 600px;
        height: 200px;
    }
    
    .penginapan-discount #card-3{
        display: none;
    }

}

@media only screen and (max-width: 750px){
    /* index.html */
    /* header */
    #head{
        top: 70%;
    }
    #head-pesawat{
        top: 55%;
        width: 80%;
    }

    /* card plane */
    .card-plane, .card-plane-2, .card-kamar{
        display: none;
    }
    
    /* plane discount */
    .plane-discount #card-3{
        display: none;
    }

    /* plane discount */
    #head-3{
        font-size: 25px;
    }
    .plane-discount #paragraph{
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    .penginapan-discount #price-loc{
        flex-direction: column;
        align-items: start;
    }
}

@media only screen and (max-width: 500px){
    #head-pesawat{
        top: 70%;
        font-size: 25px;
        text-align: center;
    }
    
    /* index.html */
    /* plane discount */
    #head-3{
        font-size: 25px;
    }
    .plane-discount #card-3{
        display: none;
    }
    .card-list{
        flex-direction: column;
    }
    .plane-discount-desc p{
        font-size: 10px;
    }

    /* tipe penginapan */
    .tipe-penginapan h4{
        font-size: 39px;
    }
}